# Name: Ahmed Yousri Ali
# ID: 2103108
## Assignment 1 Nueral Network

## Question 1:  Load the data from the .npy file and print the array dimensions.

In [12]:
import numpy as np #Import numpy
Data = np.load("sales_data.npy") # Load the data and declare a variable for it
print(Data) #Printing the data
print(Data.shape)

[['2020-01-01' 'USA' 'Product A' '100' '1000']
 ['2020-02-15' 'France' 'Product B' '200' '2500']
 ['2020-03-20' 'England' 'Product C' '150' '2000']
 ['2020-04-10' 'Ireland' 'Product A' '75' '1000']
 ['2020-05-05' 'Germany' 'Product B' '300' '4000']
 ['2021-01-01' 'USA' 'Product A' '100' '1000']
 ['2021-02-15' 'France' 'Product B' '200' '2500']
 ['2021-03-20' 'England' 'Product C' '150' '2000']
 ['2021-04-10' 'Ireland' 'Product A' '75' '1000']
 ['2021-05-05' 'Germany' 'Product B' '300' '4000']
 ['2022-01-01' 'USA' 'Product A' '100' '1000']
 ['2022-02-15' 'France' 'Product B' '200' '2500']
 ['2022-03-20' 'England' 'Product C' '150' '2000']
 ['2022-04-10' 'Ireland' 'Product A' '75' '1000']
 ['2022-05-05' 'Germany' 'Product B' '300' '4000']
 ['2023-01-01' 'USA' 'Product A' '100' '1000']
 ['2023-02-15' 'France' 'Product B' '200' '2500']
 ['2023-03-20' 'England' 'Product C' '150' '2000']
 ['2023-04-10' 'Ireland' 'Product A' '75' '1000']
 ['2023-05-05' 'Germany' 'Product B' '300' '4000']]
(20, 5)

## Question 2: Slice the array to extract the sales data for the year 2022.

In [13]:
for i in range(len(Data)):
  if '2022' in Data[i,0]:
    print(Data[i])

['2022-01-01' 'USA' 'Product A' '100' '1000']
['2022-02-15' 'France' 'Product B' '200' '2500']
['2022-03-20' 'England' 'Product C' '150' '2000']
['2022-04-10' 'Ireland' 'Product A' '75' '1000']
['2022-05-05' 'Germany' 'Product B' '300' '4000']

## Question 3: Calculate the total sales amount for each country for the year 2022.

In [14]:
total = 0
for i in range(len(Data)):
  if '2022' in Data[i,0]:
    total+=int(Data[i,3])
    print("Country:",Data[i,1],"Sales:",Data[i,3],end="\n")
print("Total Sales in 2022:",total)

Country: USA Sales: 100
Country: France Sales: 200
Country: England Sales: 150
Country: Ireland Sales: 75
Country: Germany Sales: 300
Total Sales in 2022: 825

## Question 4: Calculate the mean sales amount for each product over the entire period.

In [15]:
TotalProductA=[]
TotalProductB=[]
TotalProductC=[]
for i in range(len(Data)):
  if 'Product A' in Data[i,2]:
    TotalProductA.append(int(Data[i,4]))
  if 'Product B' in Data[i,2]:
    TotalProductB.append(int(Data[i,4]))
  if 'Product C' in Data[i,2]:
    TotalProductC.append(int(Data[i,4]))
print("Product mean for Product A:",sum(TotalProductA)/len(TotalProductA))
print("Product mean for Product B:",sum(TotalProductB)/len(TotalProductB))
print("Product mean for Product C:",sum(TotalProductC)/len(TotalProductC))
print("Total product mean:", total/len(Data))

Product mean for Product A: 1000.0
Product mean for Product B: 3250.0
Product mean for Product C: 2000.0
Total product mean: 41.25

## Question 5: Extract the total sales amount for each country for the year 2023 and Append it to aseparate array.

In [16]:
Data2023 = []
for i in range(len(Data)):
  if '2023' in Data[i,0]:
    Data2023.append(Data[i])
Data2023 = np.array(Data2023)
print('2023 Sales:\n',Data2023)

2023 Sales:
 [['2023-01-01' 'USA' 'Product A' '100' '1000']
 ['2023-02-15' 'France' 'Product B' '200' '2500']
 ['2023-03-20' 'England' 'Product C' '150' '2000']
 ['2023-04-10' 'Ireland' 'Product A' '75' '1000']
 ['2023-05-05' 'Germany' 'Product B' '300' '4000']]

## Question 6: Delete the sales data for Ireland for the year 2021.

In [17]:
Delete2021 = Data.copy()
for i in range(len(Data)):
  if '2021' in Data[i,0] and 'Ireland' in Data[i,1]:
    Delete2021 = np.delete(Delete2021 , i ,0)
print('Ireland deleted sales in 2021:\n',Delete2021)

Ireland deleted sales in 2021:
 [['2020-01-01' 'USA' 'Product A' '100' '1000']
 ['2020-02-15' 'France' 'Product B' '200' '2500']
 ['2020-03-20' 'England' 'Product C' '150' '2000']
 ['2020-04-10' 'Ireland' 'Product A' '75' '1000']
 ['2020-05-05' 'Germany' 'Product B' '300' '4000']
 ['2021-01-01' 'USA' 'Product A' '100' '1000']
 ['2021-02-15' 'France' 'Product B' '200' '2500']
 ['2021-03-20' 'England' 'Product C' '150' '2000']
 ['2021-05-05' 'Germany' 'Product B' '300' '4000']
 ['2022-01-01' 'USA' 'Product A' '100' '1000']
 ['2022-02-15' 'France' 'Product B' '200' '2500']
 ['2022-03-20' 'England' 'Product C' '150' '2000']
 ['2022-04-10' 'Ireland' 'Product A' '75' '1000']
 ['2022-05-05' 'Germany' 'Product B' '300' '4000']
 ['2023-01-01' 'USA' 'Product A' '100' '1000']
 ['2023-02-15' 'France' 'Product B' '200' '2500']
 ['2023-03-20' 'England' 'Product C' '150' '2000']
 ['2023-04-10' 'Ireland' 'Product A' '75' '1000']
 ['2023-05-05' 'Germany' 'Product B' '300' '4000']]

## Question 7: Find the unique product names and print them sorted alphabetically.

In [18]:
UniqueData=Data[:,2]
UniqueData = np.unique(UniqueData)
UniqueData = sorted(UniqueData)
print('Unique sorted product names:\n',UniqueData)

Unique sorted product names:
 ['Product A', 'Product B', 'Product C']

Question 8: Create a 2D array with random values of shape (20, 3) and concatenate it with the salesdata array along the second axis.

In [19]:
random2d = np.random.randint(0,2,(20,3))
random2d = np.concatenate((Data,random2d), axis=1)
print(random2d)

[['2020-01-01' 'USA' 'Product A' '100' '1000' '1' '0' '1']
 ['2020-02-15' 'France' 'Product B' '200' '2500' '0' '0' '1']
 ['2020-03-20' 'England' 'Product C' '150' '2000' '0' '1' '0']
 ['2020-04-10' 'Ireland' 'Product A' '75' '1000' '0' '0' '0']
 ['2020-05-05' 'Germany' 'Product B' '300' '4000' '0' '0' '0']
 ['2021-01-01' 'USA' 'Product A' '100' '1000' '1' '0' '0']
 ['2021-02-15' 'France' 'Product B' '200' '2500' '0' '1' '1']
 ['2021-03-20' 'England' 'Product C' '150' '2000' '1' '1' '1']
 ['2021-04-10' 'Ireland' 'Product A' '75' '1000' '1' '0' '0']
 ['2021-05-05' 'Germany' 'Product B' '300' '4000' '0' '1' '1']
 ['2022-01-01' 'USA' 'Product A' '100' '1000' '0' '1' '0']
 ['2022-02-15' 'France' 'Product B' '200' '2500' '1' '1' '0']
 ['2022-03-20' 'England' 'Product C' '150' '2000' '1' '1' '0']
 ['2022-04-10' 'Ireland' 'Product A' '75' '1000' '1' '1' '1']
 ['2022-05-05' 'Germany' 'Product B' '300' '4000' '0' '0' '0']
 ['2023-01-01' 'USA' 'Product A' '100' '1000' '1' '0' '1']
 ['2023-02-15' 'France' 'Product B' '200' '2500' '0' '0' '1']
 ['2023-03-20' 'England' 'Product C' '150' '2000' '1' '0' '0']
 ['2023-04-10' 'Ireland' 'Product A' '75' '1000' '0' '0' '0']
 ['2023-05-05' 'Germany' 'Product B' '300' '4000' '0' '1' '1']]

Question 9: Save the output in modifiedsalesdata.npy and Explain what happened to the matrix bydoing the concatenation above.

In [20]:
np.save('modifiedsalesdata.npy',random2d)