In [1]:
import pandas as pd
import numpy as np

In [7]:
array = np.array([
                    [1,2,3],
                    [4,5,6],
                    [7,8,9]
                 ])
columns = ["ahmed","mohamed","yousry"]
index = ["ab","bc","cd"]
df = pd.DataFrame(array,index,columns)
print(df)

    ahmed  mohamed  yousry
ab      1        2       3
bc      4        5       6
cd      7        8       9

In [8]:
df = pd.DataFrame(
     {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
         "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
     }
 )

In [9]:
df

     A      B         C         D
0  foo    one  0.959302 -0.948225
1  bar    one  1.078262 -0.493300
2  foo    two  0.011272  0.906224
3  bar  three -0.772677 -0.305603
4  foo    two  2.020926 -0.374326
5  bar    two  0.502484  0.626611
6  foo    one  2.152672 -1.076142
7  foo  three  0.681099  1.017173

In [12]:
df.groupby("A")[["C","D"]].sum()

            C         D
A
bar  0.808069 -0.172291
foo  5.825272 -0.475297