# Load the data from the .npy file and print the array dimensions

In [2]:
# importing the numpy library
import numpy as np
# loading the data from the .npy file 
data = np.load("sales_data.npy")

In [3]:
# printing the dimensions of the data
print(data.ndim)

2

In [4]:
# printing the data
print(data,data.ndim,data.shape,sep="\n")
rows = data.shape[0]
cols = data.shape[1]

[['2020-01-01' 'USA' 'Product A' '100' '1000']
 ['2020-02-15' 'France' 'Product B' '200' '2500']
 ['2020-03-20' 'England' 'Product C' '150' '2000']
 ['2020-04-10' 'Ireland' 'Product A' '75' '1000']
 ['2020-05-05' 'Germany' 'Product B' '300' '4000']
 ['2021-01-01' 'USA' 'Product A' '100' '1000']
 ['2021-02-15' 'France' 'Product B' '200' '2500']
 ['2021-03-20' 'England' 'Product C' '150' '2000']
 ['2021-04-10' 'Ireland' 'Product A' '75' '1000']
 ['2021-05-05' 'Germany' 'Product B' '300' '4000']
 ['2022-01-01' 'USA' 'Product A' '100' '1000']
 ['2022-02-15' 'France' 'Product B' '200' '2500']
 ['2022-03-20' 'England' 'Product C' '150' '2000']
 ['2022-04-10' 'Ireland' 'Product A' '75' '1000']
 ['2022-05-05' 'Germany' 'Product B' '300' '4000']
 ['2023-01-01' 'USA' 'Product A' '100' '1000']
 ['2023-02-15' 'France' 'Product B' '200' '2500']
 ['2023-03-20' 'England' 'Product C' '150' '2000']
 ['2023-04-10' 'Ireland' 'Product A' '75' '1000']
 ['2023-05-05' 'Germany' 'Product B' '300' '4000']]
2
(20, 5)

# Slice the array to extract the sales data for the year 2022.

In [5]:
data2022 = data[10:15,3]
print(data2022)

['100' '200' '150' '75' '300']

# Calculate the total sales amount for each country for the year 2022.

In [6]:
totalCountries = 0 
for i in range(rows):
    if "2022" in data[i,0]:
        print("Country:", data[i,1], "Total Sales:", data[i,3],sep = "\t", end="\n")
        totalCountries += int(data[i,3])
print("Total Sales for all Countries in the year 2022:",totalCountries)

Country:	USA	Total Sales:	100
Country:	France	Total Sales:	200
Country:	England	Total Sales:	150
Country:	Ireland	Total Sales:	75
Country:	Germany	Total Sales:	300
Total Sales for all Countries in the year 2022: 825

# Calculate the mean sales amount for each product over the entire period.

In [8]:
productASales = []
productBSales = []
productCSales = []
for i in range(rows):
    if data[i,2] == "Product A":
        productASales.append(int(data[i,4]))
    elif data[i,2] == "Product B":
        productBSales.append(int(data[i,4]))
    else:
        productCSales.append(int(data[i,4]))
productASales = np.array(productASales)
productBSales = np.array(productBSales)
productCSales = np.array(productCSales)
print(productASales,productBSales,productCSales,sep="\n")
print("Product A mean Sales:", productASales.mean())
print("Product B mean Sales:", productBSales.mean())
print("Product C mean Sales:", productCSales.mean())

[1000 1000 1000 1000 1000 1000 1000 1000]
[2500 4000 2500 4000 2500 4000 2500 4000]
[2000 2000 2000 2000]
Product A mean Sales: 1000.0
Product B mean Sales: 3250.0
Product C mean Sales: 2000.0

# Extract the total sales amount for each country for the year 2023 and Append it to a separate array.

In [196]:
data2023 = data[15:,(1,4)]
print(data2023)
print("-"*8)
data2023 = []
for i in range(rows):
    if '2023' in data[i,0]:
        data2023.append(data[i])
data2023 = np.asarray(data2023)
print(data2023[:,(1,4)])

[['USA' '1000']
 ['France' '2500']
 ['England' '2000']
 ['Ireland' '1000']
 ['Germany' '4000']]
--------
[['USA' '1000']
 ['France' '2500']
 ['England' '2000']
 ['Ireland' '1000']
 ['Germany' '4000']]

# Delete the sales data for Ireland for the year 2021

In [197]:
newData = data.copy()
for i in range(rows):
    if "2021" in data[i,0] and "Ireland" in data[i,1]:
        newData = np.delete(newData,i,axis=0)
print(newData)

[['2020-01-01' 'USA' 'Product A' '100' '1000']
 ['2020-02-15' 'France' 'Product B' '200' '2500']
 ['2020-03-20' 'England' 'Product C' '150' '2000']
 ['2020-04-10' 'Ireland' 'Product A' '75' '1000']
 ['2020-05-05' 'Germany' 'Product B' '300' '4000']
 ['2021-01-01' 'USA' 'Product A' '100' '1000']
 ['2021-02-15' 'France' 'Product B' '200' '2500']
 ['2021-03-20' 'England' 'Product C' '150' '2000']
 ['2021-05-05' 'Germany' 'Product B' '300' '4000']
 ['2022-01-01' 'USA' 'Product A' '100' '1000']
 ['2022-02-15' 'France' 'Product B' '200' '2500']
 ['2022-03-20' 'England' 'Product C' '150' '2000']
 ['2022-04-10' 'Ireland' 'Product A' '75' '1000']
 ['2022-05-05' 'Germany' 'Product B' '300' '4000']
 ['2023-01-01' 'USA' 'Product A' '100' '1000']
 ['2023-02-15' 'France' 'Product B' '200' '2500']
 ['2023-03-20' 'England' 'Product C' '150' '2000']
 ['2023-04-10' 'Ireland' 'Product A' '75' '1000']
 ['2023-05-05' 'Germany' 'Product B' '300' '4000']]

# Find the unique product names and print them sorted alphabetically.

In [198]:
print(sorted(np.unique(data[:,2])))

['Product A', 'Product B', 'Product C']

# Create a 2D array with random values of shape (20, 3) and concatenate it with the sales data array along the second axis.

In [199]:
randArr = np.random.randint(0,2,size=(20,3))
concatData = np.concatenate((randArr,data),axis = 1)
print(concatData)

[['1' '0' '0' '2020-01-01' 'USA' 'Product A' '100' '1000']
 ['0' '0' '0' '2020-02-15' 'France' 'Product B' '200' '2500']
 ['0' '1' '1' '2020-03-20' 'England' 'Product C' '150' '2000']
 ['1' '0' '1' '2020-04-10' 'Ireland' 'Product A' '75' '1000']
 ['0' '0' '0' '2020-05-05' 'Germany' 'Product B' '300' '4000']
 ['1' '0' '1' '2021-01-01' 'USA' 'Product A' '100' '1000']
 ['0' '0' '1' '2021-02-15' 'France' 'Product B' '200' '2500']
 ['1' '0' '0' '2021-03-20' 'England' 'Product C' '150' '2000']
 ['1' '1' '1' '2021-04-10' 'Ireland' 'Product A' '75' '1000']
 ['0' '0' '1' '2021-05-05' 'Germany' 'Product B' '300' '4000']
 ['1' '0' '0' '2022-01-01' 'USA' 'Product A' '100' '1000']
 ['0' '1' '1' '2022-02-15' 'France' 'Product B' '200' '2500']
 ['1' '1' '0' '2022-03-20' 'England' 'Product C' '150' '2000']
 ['1' '1' '0' '2022-04-10' 'Ireland' 'Product A' '75' '1000']
 ['1' '0' '1' '2022-05-05' 'Germany' 'Product B' '300' '4000']
 ['0' '0' '0' '2023-01-01' 'USA' 'Product A' '100' '1000']
 ['1' '1' '0' '2023-02-15' 'France' 'Product B' '200' '2500']
 ['1' '1' '1' '2023-03-20' 'England' 'Product C' '150' '2000']
 ['0' '1' '0' '2023-04-10' 'Ireland' 'Product A' '75' '1000']
 ['0' '0' '1' '2023-05-05' 'Germany' 'Product B' '300' '4000']]

# Save the output in modified sales data.npy and Explain what happened to the matrix by doing the concatenation above.

In [200]:
np.save('modifiedsalesdata.npy',concatData)